@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');


*
{
    box-sizing: border-box;
}

body

{
    
    width: 100%;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-style: 700;
}
.logo
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    
}
header
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    position: relative;
}
.city
{
    background-color: rgba(211, 211, 211, 0.829);
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    
}
.city i 
{
    font-size: 20px;
    color: rgb(78, 78, 78);
}
.city h2
{
    font-size: 15px;
    color: rgb(78, 78, 78);
}
.info-explorer 
{
    text-align: center;
    width: 100%;
    background-color: #f3f3f3;
    padding: 10px;
    padding-bottom: 50px;
}
.info-explorer button
{
    color: white;
    background: linear-gradient(#FF79DA,#9356DC);
    font-size: 15px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 15px;
}

